@import "colors";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
  
    &::before {
      content: "";
      position: fixed;
      background: #040404 url("../img/bg.jpg") top right no-repeat;
      background-size: cover;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      z-index: -2;
    }
  }
  
  a {
    color: $activeBorder;
  
    &:hover {
      color: #34cedf;
      text-decoration: none;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  
  .back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: $activeBorder;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  
    i {
      font-size: 24px;
      position: absolute;
      top: 7px;
      left: 8px;
    }
  
    &:hover {
      color: #fff;
      background: #34cedf;
      transition: background 0.2s ease-in-out;
    }
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  
    &:before {
      content: "";
      position: fixed;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      border: 6px solid $activeBorder;
      border-top-color: #fff;
      border-bottom-color: #fff;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      -webkit-animation: animate-preloader 1s linear infinite;
      animation: animate-preloader 1s linear infinite;
    }
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 992px) {
    #main {
      margin-left: 100px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  
  .nav-menu {
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    > ul > li {
      position: relative;
      white-space: nowrap;
    }
  
    a {
      display: flex;
      align-items: center;
      color: #45505b;
      padding: 10px 18px;
      margin-bottom: 8px;
      transition: 0.3s;
      font-size: 15px;
      border-radius: 50px;
      background: #f2f3f5;
      height: 56px;
      width: 100%;
      overflow: hidden;
      transition: 0.3s;
  
      i {
        font-size: 20px;
      }
  
      span {
        padding: 0 5px 0 7px;
        color: #45505b;
      }
  
      &:hover {
        color: #fff;
        background: $activeBorder;
      }
    }
  
    .active > a, li:hover > a {
      color: #fff;
      background: $activeBorder;
    }
  
    a:hover span, .active > a span, li:hover > a span {
      color: #fff;
    }
  
    a:hover, li:hover > a {
      width: 100%;
      color: #fff;
    }
  
    a:hover span, li:hover > a span {
      display: block;
    }
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;
  
      span {
        display: none;
        color: #fff;
      }
    }
  }
  
  /* Mobile Navigation */
  
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  
    i {
      color: #45505b;
    }
  }
  
  .mobile-nav-active {
    overflow: hidden;
  
    #header {
      left: 0;
    }
  
    .mobile-nav-toggle i {
      color: $activeBorder;
    }
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  
  #hero {
    width: 100%;
    height: 100vh;
  
    &:before {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  
    h1 {
      margin: 0;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      color: $mainColor;
    }

    h2 {
        font-size: 24px;
        margin-top: 20px;
        color: rgba(134, 134, 134, 0.8);
    
        span {
          color: rgb(134, 134, 134);
          border-bottom: 2px solid $activeBorder;
          padding-bottom: 6px;
        }
    }
  
    p {
      color: #45505b;
      margin: 15px 0 0 0;
      font-size: 26px;
      font-family: "Poppins", sans-serif;
  
      span {
        color: $activeBorder;
        letter-spacing: 1px;
      }
    }

    .social-links {
      margin-top: 30px;
  
      a {
        font-size: 24px;
        display: inline-block;
        color: #45505b;
        line-height: 1;
        margin-right: 20px;
        transition: 0.3s;
  
        &:hover {
          color: $activeBorder;
        }
      }
    }

    .download{
      margin: 0 0 40px 0;
      position: relative;
      top: 20px;
      margin-top: 35px;
      display: flex;
  
      a {
        font-size: 18px;
        display: inline-block;
        background: $activeBorder;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 45px;
        height: 45px;
        transition: 0.3s;

        &:hover {
          background: #34cedf;
          color: #fff;
          text-decoration: none;
        }

        i {
          position: relative;
          top: 3px;
        }
      }

      p {
        padding: 10px 0;
        margin: 0 0 0 15px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        color: #45505b;
        position: relative;
        top: 5px;
      }
    }
  }
  
  @media (min-width: 992px) {
    #hero {
      padding-left: 160px;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      text-align: center;
  
      h1 {
        font-size: 32px;
        line-height: 36px;
      }
  
      p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    .download {
      display: flex;
      justify-content: center;
      position: relative;
      right: 10px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  
  section {
    padding: 60px 0;
    overflow: hidden;

    &.section-show {
        top: 100px;
        bottom: auto;
        opacity: 1;
        padding-bottom: 45px;
      }
    
      .container {
        background: rgba(193, 152, 220, 0.9);
        padding: 30px;
      }
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #fff;
  
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
      }
  
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background:$activeBorder;
        bottom: 0;
        left: calc(50% - 20px);
      }
    }
  
    p {
      margin-bottom: 0;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 5px 0 20px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left !important;
        color: #89e4ef;
        font-family: "Poppins", sans-serif;
        position: relative;
        top: 20px;
    }
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  
  .about .content {
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: $activeBorder;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        padding-bottom: 10px;
      }
  
      i {
        font-size: 20px;
        padding-right: 2px;
        color: $activeBorder;
      }
    }
  
    p:last-child {
      margin-bottom: 0;
    }
  }
  
  
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  
  .skills {
    .progress {
      height: 50px;
      display: block;
      background: none;
  
      .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #45505b;
  
        .val {
          float: right;
          font-style: normal;
          color: #fff !important;
        }
      }
    }
  
    .progress-bar-wrap {
      background: rgba(255, 255, 255, 0.1);
    }
  
    .progress-bar {
      width: 1px;
      height: 10px;
      transition: .9s;
      background-color: $activeBorder;
    }
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  
  .resume {
    .resume-title {
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #fff;
    }
  
    .resume-item {
      padding: 0 0 20px 20px;
      margin-top: -2px;
      border-left: 2px solid $activeBorder;
      position: relative;
  
      h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: $activeBorder;
        margin-bottom: 10px;
      }
  
      h5 {
        font-size: 16px;
        background: rgba(255, 255, 255, 0.15);
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
      }
  
      ul {
        padding-left: 20px;
  
        li {
          padding-bottom: 10px;
        }
      }
  
      &:last-child {
        padding-bottom: 0;
      }
  
      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: $activeBorder;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  
  .portfolio {
    .portfolio-item {
      margin-bottom: 30px;
    }
  
    #portfolio-flters {
      padding: 0;
      margin: 0 auto 25px auto;
      list-style: none;
      text-align: center;
      padding: 2px 15px;
  
      li {
        cursor: pointer;
        display: inline-block;
        padding: 8px 16px 10px 16px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 3px 10px 3px;
        transition: all 0.3s ease-in-out;
        border-radius: 50px;
  
        &:hover, &.filter-active {
          color:$activeBorder;
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  
    .portfolio-wrap {
      transition: 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      background: rgba(69, 80, 91, 0.8);
  
      &::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        left: 30px;
        right: 30px;
        top: 30px;
        bottom: 30px;
        transition: all ease-in-out 0.3s;
        z-index: 2;
        opacity: 0;
      }
  
      .portfolio-info {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 3;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        &::before {
          display: block;
          content: "";
          width: 48px;
          height: 48px;
          position: absolute;
          top: 35px;
          left: 35px;
          border-top: 3px solid #d7dce1;
          border-left: 3px solid #d7dce1;
          transition: all 0.5s ease 0s;
          z-index: 9994;
        }
  
        &::after {
          display: block;
          content: "";
          width: 48px;
          height: 48px;
          position: absolute;
          bottom: 35px;
          right: 35px;
          border-bottom: 3px solid #d7dce1;
          border-right: 3px solid #d7dce1;
          transition: all 0.5s ease 0s;
          z-index: 9994;
        }
  
        h4 {
          font-size: 20px;
          color: #fff;
          font-weight: 600;
        }
  
        p {
          color: #fff;
          font-size: 14px;
          text-transform: uppercase;
          padding: 0;
          margin: 0;
        }
      }
  
      .portfolio-links {
        text-align: center;
        z-index: 4;
  
        a {
          color: #fff;
          margin: 0 2px;
          font-size: 28px;
          display: inline-block;
          transition: 0.3s;
  
          &:hover {
            color: $activeBorder;
          }
        }
      }
  
      &:hover {
        &::before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1;
        }
  
        .portfolio-info {
          opacity: 1;
  
          &::before {
            top: 15px;
            left: 15px;
          }
  
          &::after {
            bottom: 15px;
            right: 15px;
          }
        }
      }
    }
  }
  

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
    .info-box {
      color: #444444;
      padding: 20px;
      width: 100%;
      background: rgba(255, 255, 255, 0.08);
  
      i.bx {
        font-size: 24px;
        color: $activeBorder;
        border-radius: 50%;
        padding: 14px;
        float: left;
        background: rgba(255, 255, 255, 0.1);
      }
  
      h3 {
        font-size: 20px;
        color: $activeBorder;
        font-weight: 700;
        margin: 10px 0 8px 68px;
      }
  
      p {
        padding: 0;
        color: #fff;
        line-height: 24px;
        font-size: 14px;
        margin: 0 0 0 68px;
      }
  
      .social-links {
        margin: 5px 0 0 68px;
        display: flex;
  
        a {
          font-size: 18px;
          display: inline-block;
          color: #fff;
          line-height: 1;
          margin-right: 12px;
          transition: 0.3s;
  
          &:hover {
            color: $activeBorder;
          }
        }
      }
    }
  }

 
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
    padding-top: 25px;
    background: $bgColor;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  
    .container {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  
    .portfolio-title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  
    .portfolio-details-carousel {
      .owl-nav, .owl-dots {
        margin-top: 5px;
        text-align: center;
      }
  
      .owl-dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3) !important;
  
        &.active {
          background-color: $activeBorder !important;
        }
      }
      
      .owl-prev {
        background-image: icofont-rounded-left;
      }
    }
  
    .portfolio-info {
      padding-top: 30px;
  
      h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }
  
      ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
  
        li + li {
          margin-top: 10px;
        }
      }
  
      p {
        font-size: 15px;
        padding: 15px 0 0 0;
      }
    }
  }
  
  @media (max-width: 992px) {
    .portfolio-details .portfolio-info {
      padding-top: 20px;
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  #footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  
    h3 {
      font-size: 36px;
      font-weight: 700;
      position: relative;
      font-family: "Poppins", sans-serif;
      color: $mainColor !important;
      padding: 0;
      margin: 0 0 15px 0;
    }
  
    p {
      font-size: 15;
      font-style: italic;
      padding: 0;
      margin: 0 0 40px 0;
    }
  
    .social-links {
      margin: 0 0 40px 0;
  
      a {
        font-size: 18px;
        display: inline-block;
        background: rgba(49, 49, 49, 0.507);
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
  
        &:hover {
          background: #34cedf;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  
    .copyright {
      margin: 0 0 5px 0;
    }
  
    .credits {
      font-size: 13px;
    }
  }